<ion-view view-title="Choose Interest">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list half">
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Dating Sports</h2>
                    <img class="full-image" src="img/sansa-snowcastle3.jpg">
                </div>
               
            </div>
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Dating Property</h2>
                    <img class="full-image" src="img/sansa-snowcastle.png">
                </div>
               
            </div>

            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Dating Policy</h2>
                    <img class="full-image" src="img/sansa-snowcastle.png">
                </div>
               <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Dating Tourism</h2>
                    <img class="full-image" src="img/sansa-snowcastle4.jpg">
                </div>
              
            </div>
            </div>
            
        </div>
        <div class="list half">
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Dating Job</h2>
                    <img class="full-image" src="img/sansa-snowcastle2.jpg">
                </div>
              
            </div>
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Dating inLove</h2>
                    <img class="full-image" src="img/sansa-snowcastle4.jpg">
                </div>
              
            </div>
              <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Dating Tourism</h2>
                    <img class="full-image" src="img/sansa-snowcastle4.jpg">
                </div>
              
            </div>
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Dating Tourism</h2>
                    <img class="full-image" src="img/sansa-snowcastle4.jpg">
                </div>
              
            </div>
        </div>
    </ion-content>
</ion-view>
