<ion-view view-title="Login" align-title="left">
    <ion-content style="background-color:#4c4c4c ; background-size: cover;">

        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Welcome to our App</h1>
            </div>
        </div>
<ion-list>
  




      

          <ion-md-input placeholder = "Enter NickName" ></ion-md-input>
        
      <div class = "padding"></div>
        <div class="padding">
            <center>
          
            <button ui-sref="app.profile" class="button button-fab expanded button-energized-900 ink"><center> <i class = "icon ion-arrow-right-a"></i></center> </button>
            
            </center>
        </div>
      
    </ion-content>
</ion-view>
