<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-color:#4c4c4c ; background-size: cover ;">
        
            <div class="content">
               <div class="app-icon"></div>
               
                <div class = "hi">Hi&nbsp;</div>&nbsp;&nbsp; <div class = "name">Amit !</div>
                <h4></h4>
            </div>
        

       <!-- <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>!-->
        </div>
     <div class="list animate-fade-slide-in-right">
 <h4 class="size content padding double-padding-x">Select Gender</h4>
      <div class = "row">
       
      <div class = "col">
       
      
            <a ui-sref="app.gallery" class="item item-avatar item-icon-left ">
                <i class="icon1 ion-man">
                 </i>  
                 <div class = "padding"></div>
                    <div class = "male">Male</div>
            </a>
         
            </div>
            
            <div class = "col">
               
                            <a ui-sref="app.gallery" class="item item-right ">
                   <i class="icon1 ion-woman"></i>
                <div class = "padding"></div>
                    <div class = "male">Female</div>
            </a>
           
        </div>
        </div>
     

      </div>
    </ion-content>
</ion-view>
